@dark: rgba(52,73,94,1);
@dark-hover: rgba(255,255,255,.06);

.catalog-tree, .catalog-subtree {
    
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    background: @dark;
    
    .list-container{
        
        
        
        &:hover{
           background: @dark-hover;
        }
    }
    
    a{padding: 10px;
        color: #fff;
        width: 80%;
        display: inline-block;
    }
    
    .show-submenu{padding: 10px;
        float: right;
        cursor: pointer;
        width: 20%;
        display: inline-block;
    }
   
    .catalog-subtree{      
        //display: none;
        padding-left: 10px;
    }
}

.switchery {
    width: 32px !important;
    height: 20px !important;
    small{
        width: 20px;
        height: 20px;
    }
}

tr.inactive{
    opacity: 0.5;
}

.alert{
    font-size: 16px !important;
}