.catalog-tree,
.catalog-subtree {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  background: #34495e;
}
.catalog-tree .list-container:hover,
.catalog-subtree .list-container:hover {
  background: rgba(255, 255, 255, 0.06);
}
.catalog-tree a,
.catalog-subtree a {
  padding: 10px;
  color: #fff;
  width: 80%;
  display: inline-block;
}
.catalog-tree .show-submenu,
.catalog-subtree .show-submenu {
  padding: 10px;
  float: right;
  cursor: pointer;
  width: 20%;
  display: inline-block;
}
.catalog-tree .catalog-subtree,
.catalog-subtree .catalog-subtree {
  padding-left: 10px;
}
.switchery {
  width: 32px !important;
  height: 20px !important;
}
.switchery small {
  width: 20px;
  height: 20px;
}
tr.inactive {
  opacity: 0.5;
}
.alert {
  font-size: 16px !important;
}
/*# sourceMappingURL=admin.css.map */